
MACHINE ??= "beacon-imx8mp-kit"


DISTRO ?= 'fsl-imx-xwayland'
PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    HALT,${TMPDIR},100M,1K \
    HALT,${DL_DIR},100M,1K \
    HALT,${SSTATE_DIR},100M,1K \
    HALT,/tmp,10M,1K"
PACKAGECONFIG:append:pn-qemu-system-native = " sdl"
CONF_VERSION = "2"

DL_DIR ?= "${BSPDIR}/downloads/"
SSTATE_DIR="${BSPDIR}/cache/"

# Switch to Debian packaging and include package-management in the image
PACKAGE_CLASSES = "package_deb"
EXTRA_IMAGE_FEATURES += "package-management"


#For iMX8M Mini and Nano based SOMS modify default recipe wifi
#components to support Laird LWB5
PREFERRED_RPROVIDER_wireless-regdb-static:mx8mm-nxp-bsp = "wireless-regdb"
PREFERRED_RPROVIDER_wpa-supplicant:mx8mm-nxp-bsp = "sterling-supplicant"
PREFERRED_RPROVIDER_wpa-supplicant-cli:mx8mm-nxp-bsp = "sterling-supplicant"
PREFERRED_RPROVIDER_wpa-supplicant-passphrase:mx8mm-nxp-bsp = "sterling-supplicant"

PREFERRED_RPROVIDER_wireless-regdb-static:mx8mn-nxp-bsp = "wireless-regdb"
PREFERRED_RPROVIDER_wpa-supplicant:mx8mn-nxp-bsp = "sterling-supplicant"
PREFERRED_RPROVIDER_wpa-supplicant-cli:mx8mn-nxp-bsp = "sterling-supplicant"
PREFERRED_RPROVIDER_wpa-supplicant-passphrase:mx8mn-nxp-bsp = "sterling-supplicant"

PREFERRED_RPROVIDER_wpa-supplicant:mx8mp-nxp-bsp = "wpa-supplicant"
PREFERRED_RPROVIDER_wpa-supplicant-cli:mx8mp-nxp-bsp = "wpa-supplicant"
PREFERRED_RPROVIDER_wpa-supplicant-passphrase:mx8mp-nxp-bsp = "wpa-supplicant"
PREFERRED_RPROVIDER_wireless-regdb-static:mx8mp-nxp-bsp = "wireless-regdb"

BBMASK:mx8mm-nxp-bsp += "recipes-connectivity/nxp-wlan-sdk/nxp-wlan-sdk_git"
BBMASK:mx8mm-nxp-bsp += "recipes-kernel/kernel-modules/kernel-module-nxp89xx"

BBMASK:mx8mn-nxp-bsp += "recipes-connectivity/nxp-wlan-sdk/nxp-wlan-sdk_git"
BBMASK:mx8mn-nxp-bsp += "recipes-kernel/kernel-modules/kernel-module-nxp89xx"
LWB_REGDOMAIN = "US"

# The default distribution uses systemd, so set the initscripts accordingly
VIRTUAL-RUNTIME_initscripts = "systemd-compat-units"

COPY_LIC_MANIFEST = "1"
COPY_DIRS = "1"
LICENSE_CREATE_PACKAGE = "1"

#To build ML from NXP uncomment the two lines below
#IMAGE_INSTALL:append = "packagegroup-imx-ml"
#TOOLCHAIN_TARGET_TASK:append += " tensorflow-lite-staticdev tensorflow-lite-dev armnn-dev onnxruntime-dev"
