
MACHINE ??= "imx8mp-beacon-kit"


DISTRO ?= 'fsl-imx-xwayland'
PACKAGE_CLASSES ?= "package_rpm"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
USER_CLASSES ?= "buildstats"
PATCHRESOLVE = "noop"
BB_DISKMON_DIRS ??= "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"
PACKAGECONFIG:append:pn-qemu-system-native = " sdl"
CONF_VERSION = "2"

DL_DIR="/home/beacon/beacon/yocto-cache/download"
SSTATE_DIR="/home/beacon/beacon/yocto-cache/sstate-cache"

# Switch to Debian packaging and include package-management in the image
PACKAGE_CLASSES = "package_deb"
EXTRA_IMAGE_FEATURES += "package-management"


#For iMX8M Mini and Nano based SOMS modify default recipe wifi
#components to support Laird LWB5
PREFERRED_RPROVIDER_wireless-regdb-static:mx8mm = "wireless-regdb"
PREFERRED_RPROVIDER_wpa-supplicant:mx8mm = "sterling-supplicant"
PREFERRED_RPROVIDER_wpa-supplicant-cli:mx8mm = "sterling-supplicant"
PREFERRED_RPROVIDER_wpa-supplicant-passphrase:mx8mm = "sterling-supplicant"

PREFERRED_RPROVIDER_wireless-regdb-static:mx8mn = "wireless-regdb"
PREFERRED_RPROVIDER_wpa-supplicant:mx8mn = "sterling-supplicant"
PREFERRED_RPROVIDER_wpa-supplicant-cli:mx8mn = "sterling-supplicant"
PREFERRED_RPROVIDER_wpa-supplicant-passphrase:mx8mn = "sterling-supplicant"

BBMASK:mx8mm += "recipes-connectivity/nxp-wlan-sdk/nxp-wlan-sdk_git"
BBMASK:mx8mm += "recipes-kernel/kernel-modules/kernel-module-nxp89xx"

BBMASK:mx8mn += "recipes-connectivity/nxp-wlan-sdk/nxp-wlan-sdk_git"
BBMASK:mx8mn += "recipes-kernel/kernel-modules/kernel-module-nxp89xx"
LWB_REGDOMAIN = "US"


COPY_LIC_MANIFEST = "1"
COPY_DIRS = "1"
